.carousel-links {
  display: flex;
  justify-content: center;
}

/* Aqui estamos haciendo los botones del slides */
.carousel-dot {
  background-color: #000;
  width: 16px;
  height: 16px;
  margin: 10px 5px;
  display: block;
  border-radius: 50%;
}

/* Este es el efecto del slide al usar el wrap no
se aplasta y con el flex-direction: column
lo hechamos hacia la derecha*/

.carousel-slides {
  height: 30vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden;
  /* Esto es para que haga scroll suave */
  scroll-behavior: smooth;
  
}

/* Al poner el simbolo > solo se aplica el estilo a lo que
esta justo debajo del carousel-slide */

.carousel-slides > div {
  height: 100%;
  width: 100%;
  color: #fff;
  background-color: rgb( 68, 68, 68);
}