body {
  display: grid;
  /* al usar fr se usa el espacio restante */
  grid-template-columns: 200px 2fr 1fr;
  grid-template-rows: 80px 20vh 50vh 150px;
  ;
}

header {
  background-color: white;
  grid-area: header;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

main {
  background-color: yellow;
  grid-area: main;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
footer {
  background-color: green;
  grid-area: footer;
  grid-column: 1 / 4;
  grid-row: 4 / 5;
}